<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="class">
        <h1>Mani ismim Foziljon 15 yoshdaman, Mars it schoolda backent kursda o`qiman 260-maktabda o`qiman</h1>
    </div>
    <div class="div"> 
    <p>Name:Foziljon</p>
    <p>Surname:Sadikov</p>
    <p>Mars it student</p>
    </div>
    <img src="{% static 'img/img1.jpg' %}" alt="">
   
</body>
</html>